.Header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 100%;
  background-color: gray;
  top: 0;

  &__title {
    text-align: left;
    padding-top: 50px;
  }

  &__nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .Header {
    &__menu {
      display: none;
    }

    &__nav {
      display: block !important;
      //text-align: right;

      &--link {
        display: inline;
        padding: 5px;
      }
    }
  }
}
