.is-current {
  font-size: 50px;
}

.Header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: gray;
  top: 0;

  &__nav {
    display: none;
  }
}

@media (min-width: 992px) {
  .Header {
    &__menu {
      display: none;
    }

    &__nav {
      display: block;

      &--link {
        display: inline;
        padding: 5px;
      }
    }
  }
}
