.Header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
}

.Scrolled {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: black;
  top: 0;
}

.Scrolled > .title {
  padding-top: 30px;
}

.title {
  text-align: left;
  padding-top: 65px;
  color: yellow;
}

.menu {
  color: yellow;
}

.nav {
  display: none;
}

.Scrolled > .nav > .nav__inner {
  padding-top: 10px;
  list-style: none;
}

.nav__inner {
  padding-top: 50px;
  list-style: none;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }

  .title {
    text-align: left;
    padding-top: 65px;
  }

  .nav {
    display: block !important;
  }

  .nav__inner {
    padding-top: 50px;
    list-style: none;
  }

  .link {
    display: inline;
    padding: 5px;
  }
}
