.Header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: padding-top 0.4s, padding-bottom 0.4s;
}

.Scrolled {
  background-color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

.title {
  text-align: left;
  padding-top: 15px;
  color: yellow;
}

.menu {
  color: yellow;
}

.nav {
  display: none;
}

.Scrolled > .nav > .nav__inner {
  //padding-top: 10px;
  list-style: none;
}

.nav__inner {
  //padding-top: 50px;
  list-style: none;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }

  .title {
    text-align: left;
    //padding-top: 65px;
  }

  .nav {
    display: block !important;
  }

  .nav__inner {
    //padding-top: 50px;
    list-style: none;
  }

  .link {
    display: inline;
    padding: 5px;
  }
}
